<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.friday.logrotate</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-c</string>
		<string>cd "__REPO__" &amp;&amp; exec "__UV__" run python -m scripts.rotate_logs</string>
	</array>
	<key>WorkingDirectory</key>
	<string>__REPO__</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>3600</integer>
	<key>StandardOutPath</key>
	<string>__STATE__/logs/logrotate.log</string>
	<key>StandardErrorPath</key>
	<string>__STATE__/logs/logrotate.log</string>
</dict>
</plist>
